{#
/**
 * @file
 * Header component.
 */
#}
<div class="header">
  {% if image is not empty %}
    <div class="header__media">
      {{ image }}
    </div>
  {% endif %}

  {% if caption is not empty %}
    <h1 class="header__caption">{{ caption }}</h1>
  {% endif %}

  {% if link_url is not empty %}
    <div class="header__actions">
      {% set component = 'puzz:cta' %}
      {% set props = {
        'text': link_title|default('More'),
        'url': link_url,
        'variant': 'primary',
        'size': 'medium'
      } %}
      {{ {
        '#type': 'component',
        '#component': component ?? 'puzz:cta',
        '#props': props
      } }}
    </div>
  {% endif %}
</div>
