# URL de tu sitio Drupal local
DRUPAL_URL=http://localhost

# Puerto para BrowserSync (por defecto: 3000)
BROWSERSYNC_PORT=3000

# Puerto para el panel de control de BrowserSync (por defecto: 3001)
BROWSERSYNC_UI_PORT=3001
