{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">
            {% if puzz_icons_enabled|default(true) and loop.first %}
              {{ {
                '#type': 'component',
                '#component': 'puzz:icon',
                '#props': {
                  'name': 'icon-home',
                  'size': 'md',
                  'label': 'Home'|t,
                  'color': 'currentColor'
                }
              } }}
            {% endif %}
            {{ item.text }}
          </a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
